@import "variables";

:host {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.base {
  width: 30%;
  height: 60%;
  margin: auto;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $background-color;
  box-shadow: 0px 5px 100px 5px $primary-color;
  border-radius: 5%;
}

img {
  width: 40%;
}

button {
  font-size: 1.5rem;
  font-weight: 600;
  min-width: 200px;
  padding: 20px;
  border-radius: 500px;
  background-color: $primary-color;
  border: 0;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.6s;
}

button:hover {
  opacity: 1;
}

button:active {
  transition: 0.3s;
  transform: translateY(-5px);
}

img:hover {
  transition: 0.3s;
  filter: drop-shadow(1px 1px 30px rgb(112, 112, 112));
}

@media screen and (max-width: 640px) {
  .base {
    width: 80%;
  }

  img {
    width: 60%;
  }

  button {
    opacity: 1;
    font-size: 1.2rem;
  }
}
